#cardTodo {
  background: #292e3c;
  border-radius: 10px;
  border: 1px solid rgb(134,47,224,0.3);
  box-shadow: 0px 0px 9px 0 rgba(0,0,0,0.2);
}

.spantitle {
  font-size: 18px;
  font-family: GoogleSans-Med;
  color: rgb(170,90,224) !important;
}

.des {
  color: #aaa !important;
}

.date {
  color: #aaa;
  font-size: 13px;
  margin-left: 5px;
}

.drop span{
  color: #333 !important;
}

.drop {
  background: none !important;
  border:none !important;
}

.drop i {
  color: rgb(170,90,224);
  font-size: 18px;
}
