* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: GoogleSans-Reg;
}

body {
  background-image: url(images/tree.jpg),linear-gradient(to right top, #1d1f25, #1d202d, #1e2034, #21213b, #252041);
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: GoogleSans-Bold;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/GoogleSans/GoogleSans-Bold.ttf);
}

@font-face {
  font-family: GoogleSans-Med;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/GoogleSans/GoogleSans-Medium.ttf);
}

@font-face {
  font-family: GoogleSans-reg;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/GoogleSans/GoogleSans-Regular.ttf);
}
